<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201942528934-s3gm35oei6m604kkvmtqsreig0e6jjr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201942528934-s3gm35oei6m604kkvmtqsreig0e6jjr7</string>
	<key>API_KEY</key>
	<string>AIzaSyCSXtc2kKpvKbdtP5dn-poN0kmhqmZ1hxA</string>
	<key>GCM_SENDER_ID</key>
	<string>201942528934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thanhlong.com.RecommendFoodApp</string>
	<key>PROJECT_ID</key>
	<string>myecommerceiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myecommerceiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201942528934:ios:758383c5c65b93bb7ad567</string>
	<key>DATABASE_URL</key>
	<string>https://myecommerceiosapp.firebaseio.com</string>
</dict>
</plist>